/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 7rem 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: #0f283e;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.8rem;
}

b {
  font-weight: 500;
}

.hidden {
  display: none;
}

/*---------------------------------------------*/
/*HEADER*/
/*---------------------------------------------*/

/*---------NAVBAR----------*/
.header .navbar.navbar-inverse {
  background-color: #04111F;
}

.header .navbar .navbar-nav .nav-item {
  margin-right: 1.5rem;
}

.header .navbar .navbar-nav .nav-item:active,
.header .navbar .navbar-nav .nav-item:focus,
.header .navbar .navbar-nav .nav-item:hover,
.header .navbar .navbar-nav .nav-item.active {
  color: #d6ac22;
  font-weight: 600;
}

.header .navbar .navbar-toggler {
  margin-top: 1rem;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  font-size: 1.6rem;
}

/*---------JUMBOTRON----------*/
.header .jumbotron {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(rgba(20,30,48, 0.7), rgba(36,59,85, 0.7)), url('../images/bg-jumbotron.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0;
}

.header .jumbotron .btn {
  font-size: 1.6rem;
}

/*---------------------------------------------*/
/*SECTIONS*/
/*---------------------------------------------*/

/*---------PERSONAL INFO----------*/
.section-personal-info {
  background-color: #f4f4f4;
}

/*---------WORK EXPERIENCE----------*/
.section-work-experience h3 {
  color: #01BAFD;
}

.section-work-experience h3 span {
  font-weight: 600;
}

.section-work-experience h3 span small {
  font-size: 50%;
  font-weight: 400;
}

.section-work-experience .wx-row {
  padding: 2.5rem 0;
  border-bottom: .1rem solid #01BAFD;
}

.section-work-experience .wx-row:last-child {
  border-bottom: none;
}

.section-work-experience .wx-title {
  border-right: .1rem solid #01BAFD;
}

.section-work-experience .wx-title .company {
  font-style: italic;
}

/*---------EDUCATION----------*/
#education .wx-row:last-child {
  border-top: .1rem solid #01BAFD;
  border-bottom: .1rem solid #01BAFD;
}

#education .wx-row a {
  text-decoration: none;
}
/*---------SKILLS----------*/
.section-skills .skill {
  margin-top: 2rem;
}

.section-skills .skill .skill-name {
  margin-top: 1.5rem;
}

.section-skills .skill .progress {
  width: 75%;
}

.section-skills .skill .progress .progress-bar {
  background-color: #01BAFD;
}

/*---------LANGUAGES----------*/
.section-languages #vietnamese, .section-languages #english {
  width: 12rem;
  height: 12rem;
}


/*---------HOBBIES----------*/
.section-hobbies .list-inline .list-inline-item {
  margin-right: 1.5rem;
  width: 7rem;
  height: 7rem;
  border: .2rem solid #01BAFD;
  color: #0f283e;
  transition: .5s;
}

.section-hobbies .list-inline .list-inline-item:hover {
  transform: scale(1.2);
}

.section-hobbies .list-inline .list-inline-item:last-child {
  margin-right: 0;
}

.section-hobbies .list-inline .list-inline-item div i,
.section-hobbies .list-inline .list-inline-item div span {
  display: block;
}

.section-hobbies .list-inline .list-inline-item div i {
  font-size: 2.5rem;
}

/*---------LATEST WORKS----------*/
.section-latest-works .btn {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

.section-latest-works .btn.btn-outline-primary {
  border-radius: 0;
  border: 2px solid #01BAFD;
  color: #01BAFD;
  font-weight: 600;
}

.section-latest-works .btn.btn-outline-primary:hover,
.section-latest-works .btn.btn-outline-primary:focus,
.section-latest-works .btn.btn-outline-primary:active,
.section-latest-works .btn.btn-outline-primary.active {
  background-color: #01BAFD;
  color: #fff;
}

.section-latest-works .card {
  border-radius: 0;
}

.section-latest-works .card .card-img {
  width: 100%;
  height: auto;
}

.section-latest-works .card .card-title {
  margin-top: 2rem;
}

.section-latest-works .project {
  margin-top: 2rem;
}

/*---------REFERENCES----------*/
.section-references {
  position: relative;
  margin: 0;
  background-image: linear-gradient(rgba(20,30,48, 0.7), rgba(36,59,85, 0.7)), url('../images/work-space.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0;
}

.section-references h2 {
  color: #fff;
}

.section-references h2:after {
  display: block;
  height: 0.2rem;
  background-color: #8e44ad;
  content: " ";
  width: 10rem;
  margin: 3rem auto 0;
}

.section-references blockquote {
  padding: 2%;
  font-style: italic;
  position: relative;
}

.section-references blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -3rem;
  left: -2.5rem;
}

.section-references blockquote cite {
  font-size: 90%;
  margin-top: 2.5rem;
  display: block;
}

.section-references blockquote cite img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  vertical-align: middle;
}

/*---------CONTACT----------*/
.section-contact {
  background-color: #0f283e;
  color: #fff;
}

.section-contact h2 {
  color: #fff;
}

.section-contact .question:after {
  display: block;
  height: 0.2rem;
  background-color: #01BAFD;
  content: " ";
  width: 10rem;
  margin: 3rem auto 0;
}

.section-contact .icon-big {
  font-size: 10rem;
}

.section-contact .name span:first-child {
  font-size: 3rem;
  font-weight: 600;
}

.section-contact .name span:last-child {
  font-size: 3rem;
}

.section-contact .email:after {
  display: block;
  height: 0.2rem;
  background-color: #01BAFD;
  content: " ";
  width: 15rem;
  margin: 3rem auto 2rem;
}

.section-contact .btn {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

.section-contact .btn.btn-primary {
  background-color: #04121f;
  color: #fff;
}

.section-contact .btn.btn-outline-primary {
  border-radius: 0;
}

.section-contact .btn.btn-outline-primary:active,
.section-contact .btn.btn-outline-primary:focus {
  border: none;
  cursor: pointer;
}

.section-contact .btn.btn-outline-primary {
  cursor: pointer;
}

.section-contact .modal {
  color: #0f283e;
}

.section-contact input[type="text"],
.section-contact input[type="email"],
.section-contact textarea {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

.section-contact label {
  font-weight: 600;
  color: #01BAFD;
}

/*---------------------------------------------*/
/*FOOTER*/
/*---------------------------------------------*/
footer {
  padding: 3rem 0;
  background-color: #04111F;
  color: #8A8A8C;
}

.footer .list-inline {
  margin-bottom: 0;
}

footer .list-inline .list-inline-item {
  margin-right: 1.5rem;
}

footer .list-inline .list-inline-item:last-child {
  margin-right: 0;
}

footer .list-inline .list-inline-item a {
  color: #8A8A8C;
  text-decoration: none;
}

footer .links {
  float: left;
}

footer .socials {
  float: right;
}